.footerSection {
  display: flex;
width: 79.625rem;
max-width: 79.625rem;
padding: 5rem 7.8125rem;
align-items: flex-start;
gap: 1.5rem;
}

.socialMediaFlex {
  display: flex;
width: 14.5rem;
padding: 0rem 5.125rem 5.125rem 0rem;
flex-direction: column;
align-items: flex-start;
gap: 1.875rem;
flex-shrink: 0;
}