.navbar {
  background-color: var(--secondary-color);
  background-color: #E2EAF9;
  border-radius: 2rem;
  border: 1px solid var(--secondary-color) #E2EAF9;
  border:  1px solid #E2EAF9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0.68rem;
  gap: 1rem;
}

@media (min-width: 701px) and (max-width: 1120px) {
  .navbar {
    min-width: 98%;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
  .settings {
    display: none;
  }
}

