.card {
  display: flex;
  width: 100%;
  height: 3.5rem;
  padding: 0.625rem 1rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: var(--background-color);
  max-height: 9.5625rem;
  gap: 0.8rem;
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 12px;
  font-weight: 300;
  color: #5b5c5d;
}

/* Mobile */
@media (width <= 700px) {
  .card {
    width: 100%;
  }
}
