.header {
  display: flex;
  padding: 0.15rem 1rem;
  justify-content: space-between;
  align-items: flex-end;
  align-self: stretch;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}

.scrolled {
  border-bottom: 0.5px solid #aeaeae
}

.aspect-ratio-image {
  width: 100px;
}

.flex {
  display: flex;
  width: 81.45rem;
  justify-content: space-between;
  align-items: center;
}

.innerFlex {
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
  align-items: center;
}

.signupButton {
  /* Layout */
  display: flex;
  height: 2.25rem;
  min-height: 2.25rem;
  padding: 0 0.73813rem 0 0.84719rem;
  justify-content: center;
  align-items: center;
  gap: 0.20906rem;

  /* Style */
  border-radius: 0.3125rem;
  background: #121212;
  box-shadow:
    0 4px 9px 0 rgb(0 0 0 / 5%),
    0 1.54074px 2.86667px 0 rgb(0 0 0 / 7%),
    0 0.32593px 0.73333px 0 rgb(0 0 0 / 12%);

  /* Typography */
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
  /* 143.75% */
  letter-spacing: 0.0005rem;
}