.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 100%;
  margin-bottom: 2rem;
}

@media (width <=700px) {
  .searchbar {
    display: flex;
    flex-direction: column;
  }
}

.rightbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.tags {
  display: flex;
  flex-direction: column;
}