.dashboard {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  padding: 1rem;
  border-radius: 1.25rem;
  background-color: var(--background-color);
  background-color: #ebf1f9;

  /* Additional Styles for Improved Responsiveness */
  width: 100%;
  /* Set width to 100% for both desktop and mobile */
  max-width: 100%;
  /* Prevent content from overflowing on smaller screens */
  box-sizing: border-box;
  /* Ensure padding and borders are included in the width */
}

.feature {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 2rem;
}

.left {
  width: 70%;
  max-width: 46rem;
}

.right {
  width: 30%;
  max-width: 16rem;
}

.rightCard {
  display: flex;
  padding: 0.625rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 1.25rem;
  gap: 2rem;
  height: 100%;
}

.featureCards {
  display: flex;
  column-gap: 1rem;
  align-items: stretch;
  row-gap: 2rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.recomendations {
  display: flex;
  column-gap: 1rem;
  align-items: stretch;
  row-gap: 1rem;
  max-width: 100%;
  flex-wrap: wrap;
}

.doctors {
  width: 100%;
}

.details {
  width: 100%;
  display: flex;
  align-items: stretch;
  row-gap: 1rem;
  max-width: 100%;
  flex-wrap: wrap;
}

/* Mobile */
@media (width <=700px) {
  .featureCards {
    flex-wrap: wrap;
    row-gap: 1rem;
  }

  .recomendations {
    flex-wrap: wrap;
  }

  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .feature {
    justify-content: center;
  }
}

@media (width >=768px) and (width <=1024px) {
  .right {
    width: 45%;
  }
}