.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0.625rem;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 1.25rem;
  gap: 0.8rem;
  border: none;
  cursor: pointer;
}

.image {
  border-radius: 50%;
}

.text {
  /* width: 60%; */
}

.title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 12px;
  font-weight: 300;
  color: #5b5c5d;
}