.card {
  display: flex;
  height: 20rem;
  min-height: 15rem;
  padding: 0.625rem 1rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 1.25rem;
  margin: 2rem 0.8rem 2rem 0;
  max-width: 45rem;
}

@media (width >=768px) and (width <=1024px) {
  .card {
    max-width: 21.7rem;
  }
}

.analysis {
  width: 30rem;
}