.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.875rem;
  align-self: stretch;
  padding-bottom: 2rem;
}

.button-container {
  width: 100%;
}

.continueButton {
  display: inline-flex;
  padding: 0.6875rem 5.82688rem 0.6875rem 5.86063rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background: #fdf5f2;
  box-shadow:
    0 0 0 1px rgb(235 87 87 / 30%) inset,
    0 1px 2px 0 rgb(15 15 15 / 10%);
  color: #eb5757;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.875rem;
  border: none;
}