.heroSection {
  display: flex;
  width: 64rem;
  padding: 5rem 0 0.00063rem;
  flex-direction: column;
  align-items: center;
}

.heroContent {
  display: flex;
  width: 64rem;
  max-width: 64rem;
  padding: 0 5.375rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}

.textSection {
  display: flex;
  max-width: 49.5625rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.signupButton {
  /* Layout */
  display: flex;
  height: 2.25rem;
  min-height: 2.25rem;
  padding: 0 0.73813rem 0 0.84719rem;
  justify-content: center;
  align-items: center;
  gap: 0.20906rem;

  /* Style */
  border-radius: 0.3125rem;
  background: #121212;
  box-shadow:
    0 4px 9px 0 rgb(0 0 0 / 5%),
    0 1.54074px 2.86667px 0 rgb(0 0 0 / 7%),
    0 0.32593px 0.73333px 0 rgb(0 0 0 / 12%);

  /* Typography */
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem; /* 143.75% */
  letter-spacing: 0.0005rem;
}

.subTitle {
  color: #121212;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.875rem; /* 125% */
  letter-spacing: -0.02625rem;
}

.imageWrapper {
  width: 53.25rem;
  height: 16.22063rem;
  max-width: 53.25rem;
}
