.navbar {
  background-color: var(--secondary-color);
  background-color: #e2eaf9;
  border-radius: 2rem;
  border: 1px solid var(--secondary-color) #e2eaf9;
  border: 1px solid #e2eaf9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  padding: 0.68rem;
  gap: 1rem;
}

@media (width >=701px) and (width <=1120px) {
  .navbar {
    min-width: 98%;
  }
}

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* Mobile */
@media (width <=700px) {
  .settings {
    display: none;
  }
}

.icon {
  cursor: pointer;
}