.iconbar {
  width: 5.625rem;

  /* Set a specific width */
  background-color: transparent;

  /* Dark-grey background */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16rem;
}

/* Apply the effect only on desktop screens */
@media (width >=700px) {
  .icon:hover,
  .icon:active,
  .icon:focus {
    fill: #a1c1ef;
    background-color: transparent;
    stroke-width: 1rem;
  }
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

/* Mobile */
@media (width <=700px) {
  .iconbar {
    display: none;
  }
}