.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-bottom: 2rem;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem 0;
  gap: 1rem;
}

.valueTable {
  background-color: var(--background-color);
  padding: 0 0.2rem;
}